* {
  padding: 0;
  margin: 0;
  font-family: Tahoma, sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  z-index: 1;
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
a,
button {
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 999;
}
a:focus {
  outline: 2px solid #00f;
  outline-offset: 4px;
}

.content {
  text-align: center;
  z-index: 3;
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.content h1 {
  font-size: 160px;
  color: rgb(3, 194, 252);
  font-weight: 600;
  transition: 0.5s;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.content h1:hover {
  -webkit-text-stroke: 2px white;
  color: rgba(11, 224, 224, 0.39);
}
.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid white;
  padding: 14px 50px;
  margin-top: 20px;
}
.content a:hover {
  background-color: #fff;
  color: black;
  transition: 0.5s;
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
/* Dark overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* adjust 0.5 for more or less darkness */
  z-index: 2;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  padding: 1rem 2rem;
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: aliceblue;
  transform: scaleX(0);
  transition: all 1s;
  transform-origin: left;
  border: 2px double rgb(106, 197, 253);
}

ul li a:hover::before,
ul li a:hover::after {
  transform: scaleX(1);
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: aliceblue;
  transform: scaleX(0);
  transition: all 1s;
  transform-origin: right;
  border: 2px double rgb(106, 197, 253);
}
footer {
  background: linear-gradient(to right, #2e4053, #1b2631);
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-links {
  margin-top: 8px;
}

.footer-links a {
  color: #58a6ff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .hero {
    padding: 20px;
    text-align: center;
  }
   .content h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 320px) {
  .nav {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    gap: 10px;
  }
  .home {
    display: none;
  }
  .content h1 {
    font-size: 40px;
  }
  header p {
    display: none;
  }
  .hero {
    padding: 20px;
    text-align: center;
  }
}
